.bundle
.netrwhist

emacs.d/.cache/ 
emacs.d/auto-save-list/ 
emacs.d/bookmarks 
emacs.d/elpa/archives
emacs.d/forge-database.sqlite 
emacs.d/projectile-bookmarks.eld 
emacs.d/recentf 
emacs.d/settings.el
emacs.d/smex-items 

fonts/.uuid 
lib/hide-polybar.py 

vendor
vim/bundle/*
vim/UltiSnips/*
emacs.d/transient
vim/plugged
