# #!/usr/bin/env ruby
snippet n
puts "\n"*30
endsnippet

snippet \n
puts "\n"*30
endsnippet

snippet rli
Rails.logger.info "${1}"

endsnippet

snippet rle
Rails.logger.error "${1}"
endsnippet

snippet byebug
require 'byebug' ; byebug
endsnippet

snippet pry
binding.pry
endsnippet
